:root {
  --scheme__color: light;

  /* ********* COLOR ********** */
  --color__core__primary: #1e1919;
  --color__core__secondary: #f7f5f2;
  --color__core__accent: #0061fe;
  --color__button__primary__hover: #0057e5;
  --color__button__primary__active: #0050d0;
  --color__standard__text: #1e1919;
  --color__standard__border: #a69e9299;
  --color__standard__background: #fff;
  --color__faint__text: #524a3ed1;
  --color__faint__border: #a6917133;
  --color__faint__background: #f7f5f2;
  --color__disabled__text: #524a3e66;
  --color__disabled__border: #c0bbb4;
  --color__disabled__background: #c0bbb4;
  --color__elevated__background: #fbfaf9;
  --color__attention__text: #0061fe;
  --color__attention__border: #0061fe;
  --color__attention__border--faint: #0061fe52;
  --color__attention__background: #0061fe29;
  --color__attention__background--faint: #0061fe14;
  --color__success__text: #2d7a02;
  --color__success__border: #2d7a02;
  --color__success__border--faint: #2d7a0252;
  --color__success__background: #2d7a021f;
  --color__warning__text: #9b6400;
  --color__warning__border: #9b6400;
  --color__warning__border--faint: #9b640052;
  --color__warning__background: #fad24b3d;
  --color__alert__text: #9b0032;
  --color__alert__border: #9b0032;
  --color__alert__border--faint: #9b003252;
  --color__alert__background: #9b00321a;
  --color__opacity--1: #a6917124;
  --color__opacity--2: #a691713d;
  --color__opacity--3: #a6917152;
  --color__glyph__primary: #1e1919;
  --color__glyph__accent: #0061fe;
  --color__utility__focusring: #428bff;
  --color__utility__overlay: #544a4480;
  --boxshadow__focusring: 0 0 0 3px var(--color__utility__focusring);
  --color__inverse__utility__focusring: #0060fa;
  --boxshadow__inverse__focusring: 0 0 0 3px
    var(--color__inverse__utility__focusring);

  /* ********* COLOR INVERSE ********** */
  --color__inverse__core__primary: #f7f5f2;
  --color__inverse__core__secondary: #1e1919;
  --color__inverse__core__accent: #3984ff;
  --color__inverse__button__primary__hover: #4d90ff;
  --color__inverse__button__primary__active: #5d9aff;
  --color__inverse__standard__text: #f7f5f2;
  --color__inverse__standard__border: #8e8b8780;
  --color__inverse__standard__background: #161313;
  --color__inverse__faint__text: #f7f5f299;
  --color__inverse__faint__border: #8e8b8733;
  --color__inverse__faint__background: #242121;
  --color__inverse__disabled__text: #f7f5f24d;
  --color__inverse__disabled__border: #f7f5f24d;
  --color__inverse__disabled__background: #d8d3cb;
  --color__inverse__elevated__background: #2b2929;
  --color__inverse__attention__text: #3984ff;
  --color__inverse__attention__border: #3984ff;
  --color__inverse__attention__border--faint: #3984ff66;
  --color__inverse__attention__background: #3984ff66;
  --color__inverse__attention__background--faint: #3984ff29;
  --color__inverse__success__text: #b4dc19;
  --color__inverse__success__border: #b4dc19;
  --color__inverse__success__border--faint: #b4dc1966;
  --color__inverse__success__background: #b4dc194d;
  --color__inverse__warning__text: #fad24b;
  --color__inverse__warning__border: #fad24b;
  --color__inverse__warning__border--faint: #fad24b66;
  --color__inverse__warning__background: #fad24b4d;
  --color__inverse__alert__text: #fa551e;
  --color__inverse__alert__border: #fa551e;
  --color__inverse__alert__border--faint: #fa551e66;
  --color__inverse__alert__background: #fa551e4d;
  --color__inverse__opacity--1: #8e8b8729;
  --color__inverse__opacity--2: #8e8b873d;
  --color__inverse__opacity--3: #8e8b8752;
  --color__inverse__glyph__primary: #696663;
  --color__inverse__glyph__accent: #3984ff;

  /* ********* COLOR ACCENT ********** */
  --color__accent__zen: #14c8eb;
  --color__accent__ocean: #007891;
  --color__accent__sunset: #fa551e;
  --color__accent__crimson: #9b0032;
  --color__accent__tangerine: #ff8c19;
  --color__accent__rust: #be4b0a;
  --color__accent__lime: #b4dc19;
  --color__accent__canopy: #0f503c;
  --color__accent__cloud: #b4c8e1;
  --color__accent__navy: #283750;
  --color__accent__orchid: #c8aff0;
  --color__accent__plum: #78286e;
  --color__accent__pink: #ffafa5;
  --color__accent__azalea: #cd2f7b;
  --color__accent__banana: #fad24b;
  --color__accent__gold: #9b6400;

  --boxshadow__elevation1: 0px 8px 32px #1e191908, 0px 8px 16px #1e191908,
    0px 4px 8px #1e191908, 0px 2px 4px #1e191908, 0px 1px 2px #1e191908;
  --boxshadow__elevation2: 0px 16px 80px #1e191908, 0px 32px 48px #1e191908,
    0px 16px 32px #1e191908, 0px 8px 24px #1e191908, 0px 4px 16px #1e191908,
    0px 2px 8px #1e191908, 0px 1px 4px #1e191908;

  /* ********* SPACING ********** */
  --spacing__base_unit: 8px;
  --spacing__unit--0_5: 4px;
  --spacing__unit--1: 8px;
  --spacing__unit--1_5: 12px;
  --spacing__unit--2: 16px;
  --spacing__unit--2_5: 20px;
  --spacing__unit--3: 24px;
  --spacing__unit--4: 32px;
  --spacing__unit--5: 40px;

  /* ********* TYPOGRAPHY ********** */
  --__bodyFontStack: Atlas Grotesk Web, Atlas Grotesk, AtlasGrotesk,
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --__desktopMacBodyFontStack: Atlas Grotesk Web, Atlas Grotesk, system-ui;
  --__titleFontStack: Sharp Grotesk, SharpGrotesk, Sharp Grotesk KR,
    Sharp Grotesk Thai, var(--__bodyFontStack);
  --type__body__xlarge--fontfamily: var(--__bodyFontStack);
  --type__body__xlarge--fontsize: 20px;
  --type__body__xlarge--fontweight: 400;
  --type__body__xlarge--fontweight_strong: 500;
  --type__body__xlarge--lineheight: var(
    --type__body__large--lineheight_paragraph
  );
  --type__body__xlarge--lineheight_label: 26px;
  --type__body__xlarge--lineheight_paragraph: 30px;
  --type__body__large--fontfamily: var(--__bodyFontStack);
  --type__body__large--fontsize: 16px;
  --type__body__large--fontweight: 400;
  --type__body__large--fontweight_strong: 500;
  --type__body__large--lineheight: var(
    --type__body__large--lineheight_paragraph
  );
  --type__body__large--lineheight_label: 20px;
  --type__body__large--lineheight_paragraph: 24px;
  --type__body__small--fontfamily: var(--__bodyFontStack);
  --type__body__small--fontsize: 12px;
  --type__body__small--fontweight: 400;
  --type__body__small--fontweight_strong: 500;
  --type__body__small--lineheight: var(
    --type__body__small--lineheight_paragraph
  );
  --type__body__small--lineheight_label: 16px;
  --type__body__small--lineheight_paragraph: 20px;
  --type__body__standard--fontfamily: var(--__bodyFontStack);
  --type__body__standard--fontsize: 14px;
  --type__body__standard--fontweight: 400;
  --type__body__standard--fontweight_strong: 500;
  --type__body__standard--lineheight: var(
    --type__body__standard--lineheight_paragraph
  );
  --type__body__standard--lineheight_label: 18px;
  --type__body__standard--lineheight_paragraph: 22px;
  --type__body__xsmall--fontfamily: var(--__bodyFontStack);
  --type__body__xsmall--fontsize: 10px;
  --type__body__xsmall--fontweight: 400;
  --type__body__xsmall--fontweight_strong: 500;
  --type__body__xsmall--lineheight: var(
    --type__body__xsmall--lineheight_paragraph
  );
  --type__body__xsmall--lineheight_label: 14px;
  --type__body__xsmall--lineheight_paragraph: 18px;
  --type__body__monospace--fontfamily: ui-monospace, "SFMono-Regular", "SF Mono",
    Menlo, Consolas, "Liberation Mono", monospace;
  --type__body__monospace--fontweight__strong: 600;
  --type__title__large--fontfamily: var(--__titleFontStack);
  --type__title__large--fontsize: 28px;
  --type__title__large--fontweight: 400;
  --type__title__large--lineheight: 36px;
  --type__title__small--fontfamily: var(--__titleFontStack);
  --type__title__small--fontsize: 16px;
  --type__title__small--fontweight: 400;
  --type__title__small--lineheight: 26px;
  --type__title__standard--fontfamily: var(--__titleFontStack);
  --type__title__standard--fontsize: 22px;
  --type__title__standard--fontweight: 400;
  --type__title__standard--lineheight: 28px;

  /* ********* ANIMATION ********** */
  --easing__linear: linear;
  --easing__enter: cubic-bezier(0, 0.6, 0, 1);
  --easing__leave: cubic-bezier(1, 0, 1, 0.5);
  --easing__transition: cubic-bezier(0.66, 0, 0, 1);
  --duration__125: 125ms;
  --duration__333: 333ms;
  --duration__708: 708ms;
  --duration__1000: 1000ms;
  --duration__non-motion: var(--duration__125);
  --duration__micro: var(--duration__333);
  --duration__micro-fast: var(--duration__125);
  --duration__surface: var(--duration__333);
  --duration__surface-slow: var(--duration__708);

  /* ********* BREAKPOINTS ********** */
  --breakpoint__small: 600px;
  --breakpoint__standard: 1024px;
  --breakpoint__medium: 1024px;
  --breakpoint__large: 1600px;
  --breakpoint__xlarge: 1920px;

  --color__opacity--darken1: #0000000f;
  --color__opacity--darken2: #0000001f;
  --color__opacity--darken3: #0000002e;
  --color__opacity--lighten1: #ffffff1a;
  --color__opacity--lighten2: #ffffff26;
  --color__opacity--lighten3: #fff3;
  --color__black: #000;
  --color__black--5: #f2f2f2;
  --color__black--15: #d9d9d9;
  --color__black--25: #bfbfbf;
  --color__black--40: #999;
  --color__black--60: #666;
  --color__black--80: #333;
  --color__black--90: #1f1f1f;
  --color__black--95: #0d0d0d;
  --color__candy__apple--80: #ff002e;
  --color__crimson--5: #f7ebef;
  --color__crimson--100: #9b0033;
  --color__dbx__blue--100: #0061ff;
  --color__french__vanilla--100: #ffe7aa;
  --color__french__vanilla--120: #fdd571;
  --color__french__vanilla--20: #fff8e6;
  --color__sapphire--100: #0d2481;
  --color__sapphire--110: #00125c;
  --color__sapphire--170: #171f3e;
  --color__sapphire--180: #030b2d;
  --color__sapphire--20: #b2cdff;
  --color__sapphire--5: #edf4ff;
  --color__sapphire--80: #2047bd;
  --color__sapphire--90: #1c3da3;
  --color__white: #fff;

  /* ********* ALERTS ********** */
  --color__warning--light: #fbd04a;
  --color__warning--dark: #9a6500;
  --color__error--light: #f7561d;
  --color__error--dark: #9a0032;
  --color__success--light: #b6de19;
  --color__success--dark: #2d8000;

  /* ********* THEMES ********** */
  --color__theme__primary: var(--color__sapphire--100);
  --color__theme__primary--dark: var(--color__sapphire--110);
  --color__theme__primary--light: var(--color__sapphire--90);
  --color__theme__primary--lighter: var(--color__sapphire--20);
  --color__theme__primary--lightest: var(--color__sapphire--5);
  --color__theme__accent: var(--color__french__vanilla--100);
  --color__theme__accent--dark: var(--color__french__vanilla--120);
  --color__theme__accent--light: var(--color__french__vanilla--20);
  --color__theme__link: var(--color__dbx__blue--100);

  /* ********* COLOR ********** */
  --color__highlight__border: var(--color__theme__accent);
  --color__highlight__background: var(--color__theme__accent--light);
  --color__error__text: var(--color__error--dark);
  --color__error__border: var(--color__error--dark);
  --color__error__background: #9a00321a;
  --color__inverse__highlight__border: var(--color__theme__accent);
  --color__inverse__highlight__background: var(--color__opacity--lighten2);
  --color__highlight__temporary: #bad3fb;
  --color__highlight__permanent: #8fbaff;
  --color__highlight__mixed: #66a1ff;
  --color__highlight__yellow__temporary: #fbdb6f;
  --color__highlight__yellow__permanent: #f5bc00;
  --color__highlight__yellow__mixed: #d6a400;
  --color__highlight__green__temporary: #d6e599;
  --color__highlight__green__permanent: #bbd553;
  --color__highlight__green__mixed: #9ebb2a;
  --color__highlight__red__temporary: #ffc6b3;
  --color__highlight__red__permanent: #ff9f80;
  --color__highlight__red__mixed: #ff7547;
  --color__highlight__purple__temporary: #d8c3f8;
  --color__highlight__purple__permanent: #bf9ff4;
  --color__highlight__purple__mixed: #aa7ef1;
  --color__inverse__error__text: var(--color__error--light);
  --color__inverse__error__border: var(--color__error--light);
  --color__inverse__error__background: #f7561d26;
  --type__title__small--fontweight_strong: 500;
  --motion__ease--inout: cubic-bezier(0.42, 0, 0.58, 1);
  --motion__ease--linear: var(--easing__linear);
  --motion__ease--out: cubic-bezier(0.5, 0, 0, 1);
  --motion__time--fast: var(--duration__333);
  --motion__time--faster: var(--duration__125);
  --motion__time--fastest: var(--duration__125);
  --motion__time--slow: var(--duration__708);
  --motion__time--slower: var(--duration__1000);
  --motion__time--slowest: var(--duration__1000);
  --color__dragselect__border: #00000080;
  --color__utility__scrollbar--1: #0000000f;
}
