/* ********* NOTES ********** */



/* ********* GLOBAL ********** */

* {
    box-sizing: border-box;
}

html {
}

body {
    font-family: var( --font__family__primary);
    font-size: 16px;
    color: var(--color__standard__text);
    color: var(--color-standard_text);
    font-weight: normal; 
    margin: 0 auto;
}

h2 {
    font-weight: 400;
    font-size: 21px;
}

/******** HEADER *********/

header {
background-color: var(--color__background__base);
box-sizing: border-box;
color: rgb(30, 25, 25);
display: block;
font-weight: 400;
height: var(--header__height);
left: 0px;
right: 0;
top: 0;
position: sticky;
width: 100vw;
-webkit-font-smoothing: antialiased;
-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
display: flex;
justify-content: space-between;
border-bottom: 1px solid var(--color__faint__border);
}

header a {
    display: flex;
    flex-basis: auto;
    flex-shrink: 1;
    cursor: pointer;
    place-items: center;
    color: var(--color__standard__text);
    text-decoration: none;
    font-weight: 400;
    font-size: 17px;
}

header nav:hover {
background-color: var(--color__core__secondary);
border: 1px solid green;
}

header nav:active {
    background-color: var(--color__core__secondary);
}

header nav:active a {
    color: var(--color__faint__text);
}

header nav:focus-visible {
    box-shadow: inset var(--boxshadow__focusring);
    outline: none;
}



header span:first-child {
    width: 48px;
    background: var(--color__core__accent);
    height: 100%;
    display: flex;
    justify-content: center;

}

header span:first-child img {
    width: 30px
}

header span:nth-child(2) img {
    padding: var(--spacing__unit--2);
}

header nav {
    display: flex;
    flex-basis: auto;
    flex-shrink: 1;
    cursor: pointer;
    place-items: center;
    padding: var(--spacing__unit--2);
}




/* ********* MAIN  ********** */
main {
    padding: var(--spacing__unit--3);
    border: 1px solid red;
    display: flex;
    justify-content: center;
}

section {
    border: 1px solid blue;
}

section div:first-child {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid pink;
    flex-basis: auto;
}

section div h2 {
    border: 1px solid green;
    flex-grow: 2;
}

section div a {
    border: 1px solid pink;
    justify-self: flex-end;

}

.login-container {
    max-width: 350px;
}

div.divider::before {
    content: "";
    position: relative;
    width: 50%;
    margin-left: -50%;
    display: inline-block;
    height: 1px;
    vertical-align: middle;
    background-color: rgba(166,158,146,0.3);
}

div.divider::after {
    background-color: rgba(166,158,146,0.3);
    margin-right: -50%;
    content: "";
    position: relative;
    width: 50%;
    display: inline-block;
    height: 1px;
    vertical-align: middle;
}



div.divider {
    margin: var(--dwg-spacing__unit--2, 16px) 0;
    position: relative;
    text-align: center;
    clear: both;
    overflow: hidden;
}

div.divider span {
    font-size: 16px;
    color: var(--color__standard__text);
    margin: 0 var(--spacing__unit--2, 16px);
}













/* ********* FORM ********** */

form {
    border: 1px solid red;
    width: inherit;
}

label {
    display: block;
    font-size: 12px;
    color: var(--color__faint__text);
}


input {
    display: block;
    height: 48px;
    margin-top: var(--spacing__unit--1);
    margin-bottom: 0;
    font-size: 16px;
    padding: var(--spacing__unit--2);
    border: 1px solid var(--color__standard__border);
    border-radius: 0;
    color: var(--color__faint__text);
    appearance: none;
    width: 100%;
    font-size: 14px;
    font-weight: normal;
}


#emailError {
    display: none;
    font-size: 0.8rem;
  }
  
#emailError.visible {
    display: block;
  }
  
input.invalid {
    border-color: red;
  }

button {
    background-color: var(--color__core__accent);
    align-items: center;
    width: 350px;
    color: var(--color__core__secondary);
    padding: var(--spacing__unit--2) var(--spacing__unit--3) var(--spacing__unit--2) var(--spacing__unit--3);
    font-size: 1rem;
    border: 2px solid var(--color__core__accent);
    margin-top: 24px;
}

  

/* ********* FOOTER ********** */
  