:root {

    /** yeah I know some of these hex values are weird but that is what I'm getting from dropbox **/
    --color__brand__graphite_600: #000;
    --color__core__primary: #1e1919;
    --color__core__secondary: #f2eee8;
    --color__core__accent: #0061fe;
    --color__background__base: #fff;
    --color__background__subtle: #f7f5f2;
    --color__background__raised: #fff;
    --color__standard__text: #1e1919;
    --color__faint__text: #524a3ed1;
    --color__attention__text: #0061fe;
    --color__inverse__standard__text: #f7f5f2;
    --color__standard__border: #a69e9299;
    --color__faint__border: #a6917133;
    --color__attention__border: #0061fe;
    --color__attention__border--faint: #0061fe52;
    --color__utility__focusring: #428bff;
    --color__opacity--4: rgba(0,0,0,.08);
    --color__opacity--8: #2d2d2d;
    --color__alert__text: #9b0032;
    --color__alert__border: #9b0032;
    --color__button__primary__hover: #0057e5;
    --color__button__primary__active: #0050d0;


    /* TODO: link tokens */
    --color__link__standard__border: #cac5be;


    --boxshadow__focusring: 0 0 0 3px var(--color__utility__focusring);


    /* **** TYPOGRAPHY **** */
    --font__family__primary:  "Open Sans","lucida grande", "Segoe UI",arial, verdana, "lucida sans unicode",tahoma,sans-serif; 
    --font-family__titles: "Sharp Grotesk", "SharpGrotesk", "Times", "Sharp Grotesk KR", "Sharp Grotesk Thai", var(--font-family__body);
    --font-family__secondary: "Atlas Grotesk Web", "Atlas Grotesk", "AtlasGrotesk", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";


    --font-size__base: 16px;
    --font-size__xxsmall: 10px;
    --font-size__xsmall: 12px;
    --font-size__small: 14px;
    --font-size__medium: var(--font-size__base);
    --font-size__large: 18px;
    --font-size__xlarge: 20px;

    --letter-spacing__xsmall: 0.25px;
    --letter-spacing__small: 0.5px;

    /* **** SPACING **** */
    --spacing__base_unit: 8px;
    --spacing__unit--0_5: 4px;
    --spacing__unit--1: 8px;
    --spacing__unit--1_5: 12px;
    --spacing__unit--2: 16px;
    --spacing__unit--2_5: 20px;
    --spacing__unit--3: 24px;
    --spacing__unit--4: 32px;
    --spacing__unit--5: 40px;
    --spacing__unit--6: 48px;
    --spacing__unit--7: 56px;
    --spacing__unit--8: 64px;
    --spacing__unit--9: 72px;

    --header__height: var(--spacing__unit--6);
    --icon__height: var(--spacing__unit--4);

    --logo__width: 30px;

}





