/* NOTES ******** */
/* Not going to invest a ton of time in this because I'm already familiar with it and
   I'd rather spend the extra time reading a book I bought on JS. */


/* ****************************** */
/* ********** GLOBAL ************ */
/* ****************************** */

body {
  margin: 0;
  font-family: Helvetica, sans-serif;
  background-color: #f4f4f4;
}

a {
  color: #000;
}

/* ****************************** */
/* ********** HEADER ************ */
/* ****************************** */

header {
  background-color: #fff;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  position: fixed;
  width: 100%;
  z-index: 3;
}

/* **** Nav List ***** */

header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
}

header li a {
  display: block;
  padding: 20px 20px;
  border-right: 1px solid #f4f4f4;
  text-decoration: none;
}

header li a:hover,
header .nav-btn:hover {
  background-color: #f4f4f4;
}

header li a:active,
header .nav-btn:active {
  background-color: #f4f4f4;
}

/* **** Logo ***** */
header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
}

/* **** Nav ***** */

header .nav {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* **** Nav Hamburger Icon ***** */

header .nav-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

header .nav-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

header .nav-icon .navicon:before,
header .nav-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

header .nav-icon .navicon:before {
  top: 5px;
}

header .nav-icon .navicon:after {
  top: -5px;
}

/* **** Nav Button ***** */

header .nav-btn {
  display: none;
}

header .nav-btn:checked ~ .nav {
  max-height: 240px;
}

header .nav-btn:checked ~ .nav-icon .navicon {
  background: transparent;
}

header .nav-btn:checked ~ .nav-icon .navicon:before {
  transform: rotate(-45deg);
}

header .nav-btn:checked ~ .nav-icon .navicon:after {
  transform: rotate(45deg);
}

header .nav-btn:checked ~ .nav-icon:not(.steps) .navicon:before,
header .nav-btn:checked ~ .nav-icon:not(.steps) .navicon:after {
  top: 0;
}



/* *********************************** */
/* ********** MEDIA QUERY ************ */
/* *********************************** */

/* 48rem = 768px */

@media (min-width: 48rem) {
  header {
    border: 1px solid red;
  }
  header li {
    float: left;
  }
  header li a {
    padding: 20px 30px;
  }
  header .nav {
    clear: none;
    float: right;
    max-height: none;
  }
  header .nav-icon {
    display: none;
  }
}