/* NOTES ******** */
/* Not going to invest a ton of time in this because I'm already familiar with it and
   I'd rather spend the extra time reading a book I bought on JS. */

/* Please don't freakin ask how many hours it took for me to write this stinkin css responsive slider */
/* This uses dekstop first principles for the responsive design */


/* ****************************** */
/* ********** GLOBAL ************ */
/* ****************************** */

* {
  box-sizing: border-box;
}

html {
  min-height: 100%;
  height: 100%;
  scroll-behavior: smooth;
  font-size: var(--font-size-desktop);
}

body {
  font-size: var(--font-size-mobile);
  margin: 0;
  font-family: var(--font-family-body);
  font-weight: var( --font-weight-regular);
  background-color: var( --color-neutral);
  display: flex;
  align-items: center;
  flex-direction: column;
}



/* *********************************** */
/* ************* HEADINGS ************** */
/* *********************************** */
/* using 1.618 Scale - golden ratio */

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-family-headings);
  font-weight: var( --font-weight-bold);
  margin: 0;
  color: var(--color-primary);
}

h1 {
  font-size: var(--font-size-h1);
  color: var(--color-tertiary);
  text-shadow:
    0 1px 0px #378ab4,
    1px 0 0px #5dabcd,
    1px 2px 1px #378ab4,
    2px 1px 1px #5dabcd,
    2px 3px 2px #378ab4,
    3px 2px 2px #5dabcd,
    3px 4px 2px #378ab4,
    4px 3px 3px #5dabcd,
    4px 5px 3px #378ab4,
    5px 4px 2px #5dabcd,
    5px 6px 2px #378ab4,
    6px 5px 2px #5dabcd,
    6px 7px 1px #378ab4,
    7px 6px 1px #5dabcd,
    7px 8px 0px #378ab4,
    8px 7px 0px #5dabcd;

}
      
  h2 {
  font-size: var(--font-size-h2);
  color: var(--color-secondary);
  }
      
  h3 {
  font-size: var(--font-size-h3);
  margin-bottom: 1rem;
  text-shadow: 
    1px 0px 1px #ccc, 0px 1px 1px #eee, 
    2px 1px 1px #ccc, 1px 2px 1px #eee,
    3px 2px 1px #ccc, 2px 3px 1px #eee,
    4px 3px 1px #ccc, 3px 4px 1px #eee,
    5px 4px 1px #ccc, 4px 5px 1px #eee,
    6px 5px 1px #ccc, 5px 6px 1px #eee,
    7px 6px 1px #ccc;
  }
  
  h4 {
  font-size: var(--font-size-h4);
  }
  
  h5 {
  font-weight: var( --font-weight-regular);
  font-size: var(--font-size-h5);
  }
  
  h6 {
  font-weight: var( --font-weight-regular);
  font-size: var(--font-size-h6);
  }
  
  p {
    max-width: 72ch;
  }

/* ****************************** */
/* ********** HEADER ************ */
/* ****************************** */

header {
  /*background-color: #fff;*/
  background-color: rgba(255,255,255,0.8);
  background-color: var(--color-primary);
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  position: fixed;
  width: 100%;
  z-index: 3;
}

/* **** Nav List ***** */

header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

header li a {
  display: block;
  padding: 20px 20px;
  border-right: 1px solid #f4f4f4;
  text-decoration: none;
  color: var(--color-neutral);

}

header li a:hover,
header .nav-btn:hover {
  background-color: var( --color-tertiary);
  color: var(--color-primary);
}

header li a:active,
header .nav-btn:active {
  background-color: var( --color-secondary);
  background-color: #378ab4;
  color: var(--color-neutral);
}

/* **** Logo ***** */
header .logo {
  display: block;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
  width: 100px;
}

/* **** Nav ***** */

header .nav {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* **** Nav Hamburger Icon ***** */

header .nav-icon {
  cursor: pointer;
  display: inline-block;
  /*float: right;*/
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

header .nav-icon .navicon {
  background-color: var( --color-neutral);
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

header .nav-icon .navicon:before,
header .nav-icon .navicon:after {
  background-color: var( --color-neutral);
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

header .nav-icon .navicon:before {
  top: 5px;
}

header .nav-icon .navicon:after {
  top: -5px;
}

/* **** Nav Button ***** */

header .nav-btn {
  display: none;
}

header .nav-btn:checked ~ .nav {
  max-height: 240px;
}

header .nav-btn:checked ~ .nav-icon .navicon {
  background: transparent;
}

header .nav-btn:checked ~ .nav-icon .navicon:before {
  transform: rotate(-45deg);
}

header .nav-btn:checked ~ .nav-icon .navicon:after {
  transform: rotate(45deg);
}

header .nav-btn:checked ~ .nav-icon:not(.steps) .navicon:before,
header .nav-btn:checked ~ .nav-icon:not(.steps) .navicon:after {
  top: 0;
}

/* ******************************************************************* */
/* *********************** main ***************************** */
/* ******************************************************************* */

main {
  /*position: relative;*/
  width: 100%;
}


/* ******************************************************************* */
/* *********************** HERO ***************************** */
/* ******************************************************************* */
.hero {
  text-align: center;
  color: var(--color-white);
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--color-primary) url("../images/sky.svg");
  background-size: cover;
  background-position: top;
}


.hero img {
max-width: 125px;
min-width: 100px;
}

.sr-only {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
  }

  .arrow {
    cursor: pointer;
    width: 80px;
    height: 80px;
    align-content: center;
    justify-content: center;
  margin-top: 4rem;
}


.arrows {
    display: inline-block;
    min-width: 80px;
    min-height: 80px;
    width: 80px;
    height: 80px;
    transform: translate(-50%, -50%);
    cursor: pointer;
    margin: 0 auto;
}

.arrows:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-left: 26.6666666667px solid rgba(0, 0, 0, 0.7);
    border-bottom: 26.6666666667px solid rgba(0, 0, 0, 0.7);
    transform: translate(26.6666666667px, 106.6666666667px) rotate(-45deg);
    animation: arrows 3s linear infinite;
}

.arrows:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-left: 26.6666666667px solid rgba(0, 0, 0, 0.7);
    border-bottom: 26.6666666667px solid rgba(0, 0, 0, 0.7);
    transform: translate(53.3333333333px, 0px) rotate(-45deg);
    animation: arrows 3s linear infinite -1.5s;
}

@keyframes arrows {
    0% {
    border-left: 26.6666666667px solid rgba(0, 0, 0, 0);
    border-bottom: 26.6666666667px solid rgba(0, 0, 0, 0);
    transform: translate(-13.3333333333px, -53.3333333333px) rotate(-45deg);
    }
    10%, 90% {
    border-left: 26.6666666667px solid rgba(0, 0, 0, 0);
    border-bottom: 26.6666666667px solid rgba(0, 0, 0, 0);
    }
    50% {
    border-left: 26.6666666667px solid rgba(0, 0, 0, 0.7);
    border-bottom: 26.6666666667px solid rgba(0, 0, 0, 0.7);
    transform: translate(-13.3333333333px, 0px) rotate(-45deg);
    }
    100% {
    border-left: 26.6666666667px solid rgba(0, 0, 0, 0);
    border-bottom: 26.6666666667px solid rgba(0, 0, 0, 0);
    transform: translate(-13.3333333333px, 53.3333333333px) rotate(-45deg);
    }
}


/* ******************************************************************* */
/* *********************** ABOUT ***************************** */
/* ******************************************************************* */

#about {
  display: flex;
  flex-direction: column;
  align-items: center;

}



/* ******************************************************************* */
/* *********************** TRAVELS ***************************** */
/* ******************************************************************* */

#travels {
  position: relative;
  height: 700px;
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card_container {
  /*position: absolute;*/
  height: auto;
  width: 100%;
  background-color: #ffffff;
  border-radius: 1rem;
  display: flex;
  flex-direction: row;
  margin-top: -3rem;
}

.card_container .slider {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  z-index: 1;
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.card_container .inner_part {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: inherit;
  padding: 0;
  height: 650px;
}

.inner_part .img {
  /*width: 60%;*/
  overflow: hidden;
}

.img img {
  max-height: 500px;
  cursor: pointer;
  opacity: 0;
  transition: .6s;
  max-inline-size: 100%;
  block-size: auto;
  object-fit: contain;
  aspect-ratio: 1/1;
}


#slide_1:checked ~ .inner_part .img_1,
#slide_2:checked ~ .inner_part .img_2,
#slide_3:checked ~ .inner_part .img_3 {
  opacity: 1;
  transition-delay: .2s;
}

.content {
  padding: 0 20px 0 35px;
  width: 530px;
  margin-left: 50px;
  opacity: 0;
  transition: .6s; 
}

#slideImg:checked ~ .inner_part .content {
 /* display: none;*/
}

#slide_1:checked ~ .inner_part .content_1,
#slide_2:checked ~ .inner_part .content_2,
#slide_3:checked ~ .inner_part .content_3 {
  opacity: 1;
  margin-left: 0;
  z-index: 100;
  transition-delay: .3s;
}

.content .title {
  font-size: 30px;
  font-weight: 700;
  color: #0d0925;
  margin: 0 0 20px 0;
}

.content .text {
  color: #4e4a67;
  margin: 0 auto 30px auto;
  line-height: 1.5em;
}

#slideImg:checked ~ .slider {
  display: none;
}

.slider .slide {
  position: relative;
  height: 10px;
  width: 50px;
  background: #d9d9d9;
  border-radius: 5px;
  display: inline-flex;
  margin: 0 3px;
  cursor: pointer;
}

.slider .slide:before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  height: 100%;
  width: -100%;
  background: #000000;;
  border-radius: 10px;
  transform: scaleX(0);
  transition: transform .6s;
  transform-origin: left;
}

#slide_1:checked ~ .slider .slide_1:before,
#slide_2:checked ~ .slider .slide_2:before,
#slide_3:checked ~ .slider .slide_3:before {
  transform: scaleX(1);
  width: 100%;
}

#travels input {
  display: none;
}




/* ******************************************************************* */
/* *********************** CONTACT ZOG ***************************** */
/* ******************************************************************* */

#contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  background-image: url("../images/data.svg");
  background-size: cover;
  background-position: top; 
  background-attachment: fixed;
}


form {
  display: flex;
  flex-direction: column;
  background-color: var(--color-neutral);
  padding: var(--spacing-md);
  border-radius: var(--size-border-radius-small);
}

input,
textarea {
  padding-block: 0.5rem;
  border: 1px solid var(--color-primary);
  border-radius: var(--size-border-radius-medium);
  margin-block-end: var(--spacing-md);
  width: 100%;
  box-sizing: border-box;
}

form div:nth-of-type(3) {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

form div:nth-of-type(4) {
 align-self: flex-end;
}

/* **************** BUTTON *************** */
button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: var(--easing-long) ease;
  background-color: var(--color-primary);
  color: var(--color-neutral);
  padding-inline: var(--spacing-md);
  padding-block: var(--spacing-md);
  border-radius: var(--size-border-radius-medium);
  font-size: var(--font-size-default);
}

button:focus, 
button:hover {
  background: var(--color-primary);
}

/* ************************ */
/* ******* FOOTER ********* */

footer {
  padding-inline: var(--spacing-md);
  padding-block: var(--spacing-md);
}

/* ***************************** */
/* ******* BACK TO TOP ********* */

#button {
  background-color: var(--color-primary);
  width:  3rem;
  height: 3rem;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s, 
    opacity .5s, visibility .5s;
  z-index: 1000;
  display: none;
  z-index: 99;
  color:  var(--color-neutral);
  cursor: pointer;
  font-size: 2rem;
}

#button::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  color: var(--color-neutral);
}

#button:hover {
  cursor: pointer;
  background-color: var(--color-secondary);
}

#button:active {
  background-color: var(--color-secondary);
}



/* *********************************** */
/* ********** FLYING UFO ************ */
/* *********************************** */

#animation {
  position: relative;
  height: 175px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}


#ufo {
  /*bottom: 15%;*/
  top: 50px;
  position: absolute;
  -webkit-animation: linear infinite;
  -webkit-animation-name: run;
  -webkit-animation-duration: 15s;
}


@-webkit-keyframes run {
  0% {
    left: 0;
  }
  48% {
    -webkit-transform: rotateY(0deg); 
  }
  50% { 
    left: calc(100% - 100px);
    -webkit-transform: rotateY(0deg);
  }
  98% {
    -webkit-transform: rotateY(0deg);
  }
  100% {
    left: 0;    
    -webkit-transform: rotateY(0deg);
  }
}

#ufo img {
  width: 150px;
  height: 150px;
}





/* *********************************** */
/* ********** MEDIA QUERY ************ */
/* *********************************** */
/* TODO: switch this css to do mobile first principles */

/* Small devices (portrait - phones less than 578px */
@media (max-width: 575.98px) { 

  html, body {
    font-size: var(--font-size-mobile);
  }

  #hero, #about {
    padding: 0 20px;
  }

  #travels {
    height: 1200px;
  }


  .card_container {
    width: 100%;
  }

  .card_container .slider {
    top: 500px;
    bottom: initial;
  }

  .card_container .inner_part {
    flex-direction: column;
    justify-content: flex-start;
    height: 1000px;
  }

  .inner_part .img {
    width: 100%;
  }

  .img img {
    max-height: 600px;
  }

  .content {
    height: 50%;
    width: 100%;
    padding: 20px;
    margin-top: 50px;
  }


}

/* 48rem = 768px */

@media (min-width: 48rem) {

  html, body {

  }


  header {

  }
  header li {
    float: left;
  }
  header li a {
    padding: 20px 30px;
  }
  header .nav {
    clear: none;
    float: right;
    max-height: none;
  }
  header .nav-icon {
    display: none;
  }
}